/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/11/2017, 04:20:44 PM
    Author     : erick
*/

#letras{
    font-weight: bold;
    color: white;
    font-size: medium;    
}

.pad{
    padding: 5%;
}
.pad2{
    padding: 2%;
}


#margen{
    margin: 0%;    
    border-left: 0px;
    padding: 2%;
    text-align: left;
}

.bor{
    /*border-color:rgb(251, 174, 60);*/
    border:1px solid rgb(251, 174, 60);
    border-radius: 10px;
    font-family: Arial; 
    font-size: 15pt;
    height: 45px;
    size: auto;
    /*width: 100%;*/
    padding: 2%;
}

.errorMsg{
    font-weight: bold;
    color: red;
    font-size: medium; 
}

.letrasForm{
    font-weight: bold;
    color: rgb(251, 174, 60);
    font-size: medium; 
}

#imgBorder img:hover{
    border: solid;
}