/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/11/2017, 08:00:48 PM
    Author     : erick
*/

#letras{
    font-weight: bold;
    color: white;
    font-size: medium;    
}

.pad{
    padding: 5%;
}
.pad2{
    padding: 2%;
}

.tuPuntaje{
    background-color: rgb(147, 205, 207);
    border-radius: 10px;
}

.puntos{
    background-color:rgb(251, 174, 60);
    border-radius: 10px;
}
.stylePuntaje{    
    font-weight: bold;
    font-size: 300%;      
}

.stylePuntos{    
    font-weight: bold;
    font-size: 500%;      
}
